{% extends 'store/base.html' %} 

{% block content %}

<div class="text-center h2">{{ album.title }}</div>

<div class="row p-2">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img
        src="{{ album.picture }}"
        class="card-img-top"
        alt="{{ album.title }}"
      />

      <div class="card-body text-center">
        <h5 class="card-title text-dark">{{ album.title }}</h5>

        {% for artist in album.artists.all %}
        <p class="card-text">{{ artist.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-8">
    <h6 class="text-center"><u>Réserver <strong>{{ album.title }}</strong></u></h6>
    <p style="margin-bottom: 20px">
      Demandez-nous de mettre de côté <strong>{{ album.title }}</strong> et venez le chercher dès
      demain en magasin !
    </p>
    <form class="form-inline" action="{% url 'store:detail' album_id=album.id %}" method="post">
      {% csrf_token %}

      <div class="form-group mr-2">
        <label for="{{ form.name.id_for_label }}" class="control-label">Nom:</label>
        {{ form.name }}
      </div>

      <div class="form-group mr-2">
        <label for="{{ form.email.id_for_label }}" class="control-label">E-mail:</label>
        {{ form.email }}
      </div>
      <!-- <input type="hidden" name="album_id" value="{{ album.id }}"> -->

      <button type="submit" class="btn btn-sm btn-success">Réserver</button>
    </form>

    {% if errors %}
      <div>
        {% for key, error in errors %}
          {% autoescape off %}
            {{ error }}
          {% endautoescape %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}
